html::after{
  background-image: url("../images/bg.jpg");
  background-size: cover; 
  content: "";
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
}

body {
  font-family: Arial;
  font-size: 12px;
  overflow: hidden;
}
.example-desc {
  margin: 3px 0;
  padding: 5px;
}

#carousel {
  width: 100%;
  height: 50vh;
  position: relative;
  clear: both;
  overflow: hidden;
}
#carousel img {
  visibility: hidden; /* hide images until carousel can handle them */
  cursor: pointer; /* otherwise it's not as obvious items can be clicked */
  height: 50vh;
  width: 50vh;
}

.split-left {
  width: 450px;
  float: left;
}
.split-right {
  width: 400px;
  float: left;
  margin-left: 10px;
}
#callback-output {
  height: 250px;
  overflow: scroll;
}
textarea#newoptions {
  width: 430px;
}

input[type="checkbox"][id^="cb"] {
  display: none;
}

label img {
  box-sizing: border-box;
  transition: transform 0.5s;
  transform-origin: 50% 50%;
}

:checked + label {
  border-color: #d6d7d7;
}

:checked + label:before {
  background-color: grey;
  transform: scale(1);
}

:checked + label img {
  box-sizing: border-box;
  transition: transform 0.5s;
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border: 3px solid rgba(255, 255, 255, 0.6);
  padding: 10px;
}
.center {
  top: 10%;
  left: 0%;
  /*background: #fdfefc;*/
}
.topleft {
  z-index: 99;
  position: absolute;
  top: 10%;
  left: 5%;
  color: #fff;
}
h2 {
  margin: 0 0 3px 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
}
.topright {
  z-index: 99;
  position: absolute;
  top: 12%;
  left: 90%;
}
#logo {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.thumbnails-container {
  position: relative;
  margin: 0 auto;
  width: 500px;
  height: 60px;
  text-align: center;
  margin-top: 2vh;
}

.thumbnails-img-container {
  position: relative;
  display: inline-block;
}

.img-container {
  display: none;
  opacity: 0;
  /*transition: display 0.5s;*/
}
.img-container:hover::before,
.img-container:hover::after {
  display: none;
  position: absolute;
  margin: 0px;
  left: 42px;
  top: 3px;
  content: " ";
  height: 50px;
  width: 3px;
  background-color: #fdfefc;
  border-radius: 5px;
  opacity: 0.7;
  z-index: 999;
}
.img-container:hover::before {
  transform: rotate(45deg);
}
.img-container:hover::after {
  transform: rotate(-45deg);
}

.thumbnail-img {
  max-height: 50px;
  max-width: 50px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 3px;
  opacity: 0.9;
  /*transition: display 0.5s;*/
}

.submit-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 20vw;
  margin-top: 6vh;
}
#submit {
  font-size: 1.5rem;
  text-decoration: none;
  padding: 5px 20px;
  color: #e5e6e6;
  border-top: solid 1.5px #e5e6e6;
  border-bottom: solid 1.5px #e5e6e6;
  border-radius: 2px;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 200;
  transition-timing-function: ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  pointer-events: none;
  cursor: default;
}
