body {
  font-family:Arial;
  font-size:12px;
  background:#1E1E20;
  overflow:hidden;
}
.example-desc {
  margin:3px 0;
  padding:5px;
}

#carousel {
  width:100vw;
  border:1px solid #222;
  /* height:80vh; */
  height: 60vh;
  position:relative;
  clear:both;
  overflow:hidden;
  background:#1E1E20;
}
#carousel img {
  visibility:hidden; /* hide images until carousel can handle them */
  cursor:pointer; /* otherwise it's not as obvious items can be clicked */
}

.split-left {
  width:450px;
  float:left;
}
.split-right {
  width:400px;
  float:left;
  margin-left:10px;
}
#callback-output {
  height:250px;
  overflow:scroll;
}
textarea#newoptions {
  width:430px;
}

input[type="checkbox"][id^="cb"] {
  display: none;
}

label img {
  /* height: 100px;
  width: 100px; */
  /* transition-duration: 0.2s; */
  transform-origin: 50% 50%;
}

:checked + label {
  border-color: #ddd;
}

:checked + label:before {
  /* content: "✓"; */
  background-color: grey;
  transform: scale(1);
}

:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border: 3px solid #fff;
  padding: 10px;
}
.center {
  top: 10%;
  left: 0%;
  background:#1E1E20;
}
.topleft {
  z-index: 99;
  position: absolute;
  top: 10%;
  left: 5%;
  color: #fff;
}
h2 {
  margin: 0 0 3px 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
}
.topright {
  z-index: 99;
  position: absolute;
  top: 12%;
  left: 90%;
}
#logo {
  height:50px;
  width: 50px;
  cursor: pointer;
}

.thumbnails-container
{
  padding-top: 20px;
  padding-bottom: 20px;
  margin:0 auto;
  width: 294px;
}

.thumbnail-img
{
  max-height: 50px;
  max-width: 50px;
  margin: 0px;
  padding: 3px;
}

.submit-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 20vw;
}
#submit {
  font-size: 2rem;
  text-decoration: none;
  padding: 0 20px;
  background: #1E1E20;
  color: #383840;
  border-top: solid 2px #383840;
  border-bottom: solid 2px #383840;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 300;
  transition-timing-function: ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  pointer-events: none;
  cursor: default;
}
